@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/sizes.scss";

.footer {
    height: $footer-height;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $fourth-color;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;

    &__link-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    &__link{
        font-family: $font-roboto;
        font-size: $paragraph-size;
        color: $primary-color;
        margin-left: 20px;
    }
}
