@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/sizes.scss";

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &__image {
        width: 70%;
    }

    &__input{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

}

.button {
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $third-color;
    width: 100px;
    height: 30px;
    cursor:pointer;
    margin-top: 5px;
}
