<div id="Intro" class="intro">
    <div>
        <img class="intro__image" src="{{intro.introImg.img}}" alt="{{intro.introImg.name}}">
    </div>
    <div>
        <p class="intro__description">{{intro.introDescription}}</p>
    </div>
    <div class="intro__input">
        <p class="intro__message">{{intro.welcomeQuestion}}</p>
        <input [(ngModel)]="message"/>
        <button class="button" (click)="sendMessage()">Send</button>
    </div>
</div>

