<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__logospace">
      <img
        class="navbar__logo"
        src="{{ header.icon.iconImg }}"
        alt="{{ header.icon.iconName }}"
      />
    </div>
    <div class="navbar__title">
      <h1 class="navbar__main-title">{{ header.headerTitle.mainTitle }}</h1>
      <h3 class="navbar__subtitle">{{ header.headerTitle.subtitle }}</h3>
    </div>
    <div class="navbar__items">
      <div class="navbar__link-box" *ngFor="let link of header.links">
        <img src="{{link.linkIcon.iconImg}}" alt="{{link.linkIcon.iconName}}">
        <a href="{{link.linkHref}}">{{link.linkText}}</a>
      </div>
    </div>
  </div>
</nav>
