@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/sizes.scss";


.navbar {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;

    &__container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 80px;
        margin: 0 10px;
    }

    &__title {
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__main-title{
        font-family: $font-roboto;
        font-size: $title-size;
        color: $primary-color;
    }

    &__subtitle{
        font-family: $font-roboto;
        font-size: $subtitle-size;
        color: $primary-color;
    }

    &__items {
        font-family: $font-playfair-display;
        font-size: $paragraph-size;
        color: $secondary-color;
        width: 320px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        cursor:pointer;
    }
}
