@import "../../../../../styles/colors.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/responsive.scss";
@import "../../../../../styles/sizes.scss";

.adoption {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.button {
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $third-color;
    width: 250px;
    height: 30px;
    cursor:pointer;
}
