<div id="Breeds" class="breeds">
    <h2 class="breeds__title">{{breeds.breedsTitle}}</h2>
    <div class="breeds__adoption-container">
      <p class="breeds__adoption-status">{{adoptionStatusMessage}}</p>
    </div>
    <div class="breeds__container">
      <div class="breeds__content" *ngFor="let item of breeds.breed">
        <img
          class="breeds__image"
          src="{{ item.breedImg.img }}"
          alt="{{ item.breedImg.name }}"
          (click)="onButtonClick()"
        />
        <h3 class="breeds__breed-name">{{ item.breedName }}</h3>
        <p class="breeds__description">{{ item.breedDescription }}</p>
      </div>
    </div>
</div>
<div>
    <app-adoption *ngIf="flag" [adoption]="breeds.adoption" (emitAdoptionMessage)="setAdoptionMessage($event)"></app-adoption>
</div>
