@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/sizes.scss";

.breeds {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &__title{
        text-align: center;
        font-family: $font-playfair-display;
    }

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }

    &__content{
        max-width: 500px;
        padding: 5px;
    }

    &__image {
        width: 60%;
        max-width: 400px;
        transition: transform .2s;
        cursor:pointer;
    }

    &__image:hover{
        transform: scale(1.5);
    }

    &__breed-name {
        font-family: $font-roboto;
    }

    &__description {
        font-family: $font-roboto;
        text-align: center;
    }

}

.button {
    border-radius: 15px;
    border: none;
    background-color: $third-color;
    width: 250px;
    height: 30px;
    cursor:pointer;
}
