<div class="home">
    <h2 class=home__welcome-message>{{welcomeMessage}}</h2>
<app-intro [intro]="home.intro" (emitMessage)="setMessage($event)"></app-intro>
<app-breeds [breeds]="home.breeds"></app-breeds>
<app-gallery [gallery]="home.gallery"></app-gallery>
</div>
