@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/sizes.scss";


.home {

    background-color: $third-color;

    &__welcome-message{
        font-family: $font-playfair-display;
        text-align: center;
        font-size: $title-size;
    }
    
}