@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/sizes.scss";

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: $footer-height;

    &__title{
        text-align: center;
        font-family: $font-roboto;
    }

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }


    &__image {
        width: 60%;
        max-width: 400px;
    }
}
