<div id="Gallery" class="gallery">
    <h2 class="gallery__title">{{gallery.galleryTitle}}</h2>
    <div class="gallery__container">
      <div class="gallery__content" *ngFor="let image of gallery.galleryImg">
        <img
          class="gallery__image"
          src="{{ image.img }}"
          alt="{{ image.name }}"
        />
      </div>
    </div>
  </div>
  
